
h1{
   display: flex;
       justify-content:flex-display;  /* මැදට */
       align-items:flex-display;      /* height අනුව මැදට */
       height: 100vh;
}
nav {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 15px;
}

 nav a {
            color: #fff;
            text-decoration: inter;
            font-weight: bold;
        }
body {
    background: linear-gradient(to right, #BAF136 0%, #FCFFF0 50%, #16964A 100%);
}

